/builds/
# GDash build scratch dirs (the final repo lives at editions/opensuse/repos/gdash/
# and IS committed, since appliance.kiwi references it via this://repos/gdash)
/packages/gdash/rpmbuild/
/packages/gdash/container-build/
