! xcalc settings
# include ".config/xresources.d/xcalc/xcalc.conf"

! urxvt colours 
# include ".config/xresources.d/xcolours/antix.conf"

! --- liviOS Terminal ---
! Font
!URxvt*font: xft:SUSE Mono ExtraBold:style=ExtraBold:pixelsize=22:antialias=true
URxvt*font: xft:JuliaMono Black:style=Black:pixelsize=24:antialias=true
	
! Colors
URxvt*background: #253F9B
URxvt*foreground: #738DE8

!Cursor
URxvt*cursorBlink: true
URxvt*cursorColor: #738DE8
URxvt*cursorBlinkInterval: 333
URxvt*cursorUnderline: false

! Cleanliness
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_left: false
URxvt*saveLines: 0
URxvt*internalBorder: 0
URxvt*borderColor: #253F9B

! === Custom Linudore64 Palette (Locked) ===

! Terminal Palette (0-7)
URxvt*color0:  #000000
URxvt*color1:  #B83A3A
URxvt*color2:  #3AB83A
URxvt*color3:  #5C3A21
URxvt*color4:  #253F9B
URxvt*color5:  #9B259B
URxvt*color6:  #73E8E8
URxvt*color7:  #738DE8

! Bold Palette (8-15)
URxvt*color8:  #454545
URxvt*color9:  #E87373
URxvt*color10: #73E873
URxvt*color11: #E8E873
URxvt*color12: #738DE8
URxvt*color13: #B86B3A
URxvt*color14: #808080
URxvt*color15: #FFFFFF
